@tailwind base;
@tailwind components;
@tailwind utilities;

html body {
  font-family: Helvetica, sans-serif;
}

.gradient-text-1 {
  background-image: linear-gradient(
    to right,
    #019cee,
    #008dfe,
    #4f79ff,
    #895aff,
    #bc12eb
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  color: tomato;
}
.fadeIn {
  opacity: 0;
  animation: fadeIn 2s ease-in-out forwards;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 2;
  }
}
